
@using Abp.Authorization.Users
@using Capitania.Web.Startup
@model Capitania.Web.Models.DashboardFundos.TFundoViewModel
@{
    ViewBag.CurrentPageName = PageNames.DashboardFundo; // The menu item will be active for this page.
}

<script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
    }
</script>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("DashboardFundos")
                </h2>
            </div>
            <div class="portlet-body">
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#tabAsset" data-toggle="tab">@L("TabAsset")</a></li>
                    <li role="presentation"><a href="#tabADV" data-toggle="tab">@L("TabAdv")</a></li>
                    <li role="presentation"><a href="#tabExterno" data-toggle="tab">@L("TabExternos")</a></li>
                    <li role="presentation"><a href="#tabTodos" data-toggle="tab">@L("TabTodos")</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane animated fadeIn active" id="tabAsset">
                        <ejs-grid id="GridAsset" dataSource="@ViewBag.DadosAsset" allowExcelExport="true" rowHeight="20" locale="pt" allowResizing="true" toolbarClick="toolbarClick" toolbar="@(new List<string>() { "ExcelExport" })" allowSorting="true" allowFiltering="true">
                            <e-grid-columns>
                                <e-grid-column field="NomeFundo" headerText="Fundo" textAlign="Left" autoFit="true"></e-grid-column>
                                <e-grid-column field="PL" headerText="PL" textAlign="Right" format="N2" autoFit="true"></e-grid-column>
                                <e-grid-column field="Caixa" headerText="Caixa" textAlign="Right" format="P1" autoFit="true"></e-grid-column>
                                <e-grid-column field="CRD_EL1" headerText="Credit Loss" textAlign="Right" format="P1" autoFit="true"></e-grid-column>
                                <e-grid-column field="VAR" headerText="VAR" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="Stress" headerText="Stress" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="LIQSTRESSPERCENTILE" headerText="Percentil" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="DataInfo" headerText="DataInfo" textAlign="Right" format="dd/MM/yyyy" autoFit="true"></e-grid-column>
                            </e-grid-columns>
                        </ejs-grid>
                    </div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tabADV">
                        <ejs-grid id="GridADV" dataSource="@ViewBag.DadosADV" allowExcelExport="true" rowHeight="20" locale="pt" allowResizing="true" toolbarClick="toolbarClick" toolbar="@(new List<string>() { "ExcelExport" })" allowSorting="true" allowFiltering="true">
                            <e-grid-columns>
                                <e-grid-column field="NomeFundo" headerText="Fundo" textAlign="Left" autoFit="true"></e-grid-column>
                                <e-grid-column field="PL" headerText="PL" textAlign="Right" format="N2" autoFit="true"></e-grid-column>
                                <e-grid-column field="Caixa" headerText="Caixa" textAlign="Right" format="P1" autoFit="true"></e-grid-column>
                                <e-grid-column field="CRD_EL1" headerText="Credit Loss" textAlign="Right" format="P1" autoFit="true"></e-grid-column>
                                <e-grid-column field="VAR" headerText="VAR" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="Stress" headerText="Stress" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="LIQSTRESSPERCENTILE" headerText="Percentil" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="DataInfo" headerText="DataInfo" textAlign="Right" format="dd/MM/yyyy" autoFit="true"></e-grid-column>
                            </e-grid-columns>
                        </ejs-grid>
                    </div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tabExterno">
                        <ejs-grid id="GridExternos" dataSource="@ViewBag.DadosExt" allowExcelExport="true" rowHeight="20" locale="pt" allowResizing="true" toolbarClick="toolbarClick" toolbar="@(new List<string>() { "ExcelExport" })" allowSorting="true" allowFiltering="true">
                            <e-grid-columns>
                                <e-grid-column field="NomeFundo" headerText="Fundo" textAlign="Left" autoFit="true"></e-grid-column>
                                <e-grid-column field="PL" headerText="PL" textAlign="Right" format="N2" autoFit="true"></e-grid-column>
                                <e-grid-column field="Caixa" headerText="Caixa" textAlign="Right" format="P1" autoFit="true"></e-grid-column>
                                <e-grid-column field="CRD_EL1" headerText="Credit Loss" textAlign="Right" format="P1" autoFit="true"></e-grid-column>
                                <e-grid-column field="VAR" headerText="VAR" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="Stress" headerText="Stress" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="LIQSTRESSPERCENTILE" headerText="Percentil" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="DataInfo" headerText="DataInfo" textAlign="Right" format="dd/MM/yyyy" autoFit="true"></e-grid-column>
                            </e-grid-columns>
                        </ejs-grid>
                    </div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tabTodos">
                        <ejs-grid id="GridTodos" dataSource="@ViewBag.DadosDash" allowExcelExport="true" rowHeight="20" locale="pt" allowResizing="true" toolbarClick="toolbarClick" toolbar="@(new List<string>() { "ExcelExport" })" allowSorting="true" allowFiltering="true">
                            <e-grid-columns>
                                <e-grid-column field="NomeFundo" headerText="Fundo" textAlign="Left" autoFit="true"></e-grid-column>
                                <e-grid-column field="PL" headerText="PL" textAlign="Right" format="N2" autoFit="true"></e-grid-column>
                                <e-grid-column field="Caixa" headerText="Caixa" textAlign="Right" format="P1" autoFit="true"></e-grid-column>
                                <e-grid-column field="CRD_EL1" headerText="Credit Loss" textAlign="Right" format="P1" autoFit="true"></e-grid-column>
                                <e-grid-column field="VAR" headerText="VAR" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="Stress" headerText="Stress" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="LIQSTRESSPERCENTILE" headerText="Percentil" textAlign="Right" autoFit="true" format="P1"></e-grid-column>
                                <e-grid-column field="DataInfo" headerText="DataInfo" textAlign="Right" format="dd/MM/yyyy" autoFit="true"></e-grid-column>
                            </e-grid-columns>
                        </ejs-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
