@using Abp.Authorization.Users
@using Capitania.Web.Startup
@model Capitania.Web.Models.DashboardFundos.TFundoViewModel
@{
    ViewBag.CurrentPageName = PageNames.DashboardFundo; // The menu item will be active for this page.
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/DashboardFundos/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/DashboardFundos/Index.min.js" asp-append-version="true"></script>
    </environment>
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("DashboardFundos")
                </h2>
                @*<ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="label-required" for="ddl-profile">@L("Fundo")</label>
                        @Html.DropDownListFor(model => model.Fundos, ViewBag.ListaFundos as SelectList, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-required" for="txt-idfundo">Código</label>
                            @Html.LabelFor(model => model.DetalhesFundos.ID, new { htmlAttributes = new { @type = "text", @class = "form-control", @id = "txt-idfundo", maxlength = 20 } })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-required" for="txt-nomefundo">Nome</label>
                            @Html.LabelFor(model => model.DetalhesFundos.Nome, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 32, @name = "txt-nomefundo" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-required" for="txt-cnpj">CNPJ</label>
                            @Html.LabelFor(model => model.DetalhesFundos.CNPJ, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 45, @id = "txt-cnpj" } })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-required" for="txt-concentracao">Concentração</label>
                            @Html.LabelFor(model => model.DetalhesFundos.CONCENTRACAO, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 45, @id = "txt-concentracao" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-required" for="txt-qualif">Qualificação</label>
                            @Html.LabelFor(model => model.DetalhesFundos.Qualif, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 45, @id = "txt-qualif" } })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-required" for="txt-tipo">Tipo</label>
                            @Html.LabelFor(model => model.DetalhesFundos.TIPO, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 45, @id = "txt-tipo" } })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-required" for="txt-caixamandato">Caixa Mandato</label>
                            @Html.LabelFor(model => model.DetalhesFundos.CaixaMandato, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 45, @id = "txt-caixamandato" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-required" for="txt-limdur">LIM DUR</label>
                            @Html.LabelFor(model => model.DetalhesFundos.LIM_DUR, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 45, @id = "txt-limdur" } })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-required" for="txt-limel">LIM EL</label>
                            @Html.LabelFor(model => model.DetalhesFundos.LIM_EL, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 45, @id = "txt-limel" } })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-required" for="txt-limstress">LIM Stress</label>
                            @Html.LabelFor(model => model.DetalhesFundos.LIM_Stress, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 45, @id = "txt-limstress" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-required" for="txt-limul">LIM UL</label>
                            @Html.LabelFor(model => model.DetalhesFundos.LIM_UL, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 45, @id = "txt-limul" } })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-required" for="txt-limvar">LIM VAR</label>
                            @Html.LabelFor(model => model.DetalhesFundos.LIM_VaR, new { htmlAttributes = new { @type = "text", @class = "form-control", maxlength = 45, @id = "txt-limvar" } })
                        </div>
                    </div>
                </div>
            </div>*@
                <div>


                    <ejs-grid id="Grid" dataSource="@ViewBag.DadosDash" allowPaging="true" allowSorting="true" allowFiltering="true">
                        <e-grid-columns>
                            <e-grid-column field="NomeFundo" headerText="Fundo" textAlign="Right" width="120"></e-grid-column>
                            <e-grid-column field="PL" headerText="PL" width="150"></e-grid-column>
                            <e-grid-column field="Caixa" headerText="Caixa" width="150"></e-grid-column>
                            <e-grid-column field="CRD_EL1" headerText="CRD_EL1" width="150"></e-grid-column>
                            <e-grid-column field="VAR" headerText="VAR" width="150"></e-grid-column>
                            <e-grid-column field="Stress" headerText="Stress" width="150"></e-grid-column>
                            <e-grid-column field="LIQSTRESSPERCENTILE" headerText="Percentil" width="150"></e-grid-column>
                            <e-grid-column field="DataInfo" headerText="DataInfo" width="130" textAlign="Right" format="dMy"></e-grid-column>
                            <e-grid-column field="DataRun" headerText="DataRun" width="130" textAlign="Right" format="dMy"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
        </div>
    </div>
</div>
